#sort {
  border: none;
  font-family: Futura, sans-serif;
  font-weight: bold;
  padding: 10px;
  background: transparent;
  overflow: hidden;
  -webkit-appearance: none;
  color: #368f8b;
  cursor: pointer;
  align-self: flex-end;
  outline: none;
  appearance: none;
  font-size: 20px;
  transition: color 500ms;

  &:hover {
    color: #612940;
    outline: none;
  }

  &:focus {
    border: none;
    outline: none;
  }

  &:active {
    border: none;
    outline: none;
  }
}
