.App {
  margin: 0;
  padding: 0;
  text-align: center;
  
  h1 {
    font-weight: bold;
    padding-top: 20px;
    font-size: 30px;
  }

  #sort {
    border: none;
    font-family: Futura, sans-serif;
    font-weight: bold;
    padding: 10px;
    background: transparent;
    overflow: hidden;
    border-radius: 0;
    -webkit-appearance: none;
    color: #368F8B;
    cursor: pointer;
    align-self: flex-end;
    outline: none;
    appearance: none;
    font-size: 20px;
    transition: color 500ms;

    &:hover {
      color: #612940;
      outline: none;
    }
    &:focus {
      border: none;
      outline: none;
    }
    &:active  {
      border: none;
      outline: none;
    }
  }
}
