.SavePageForm {
  margin: 35px;
  padding-bottom: 30px;
  zIndex: 5;
}
.SavePageForm input[type='text'] {
  border: 3px solid #368F8B;
  height: 32px;
  background-color: #368F8B;
  color: black;
  font-weight: bold;
  font-size: 15px;
}
.SavePageForm input[type='text']:hover {
  background-color: black;
  color: #368F8B;
}
.SavePageForm input[type='text']:focus {
  background-color: black;
  color: #368F8B;
}
.SavePageForm input[type='text']:active {
  background-color: black;
  color: #368F8B;
}
.SavePageForm input[type='submit'] {
  height: 40px;
  background: #368F8B;
  cursor: pointer;
  color: black;
  font-size: 15px;
  font-weight: bold;
  border: 3px solid #368F8B;
}
.SavePageForm input[type='submit']:hover {
  background-color: black;
  color: #368F8B;
}
.SavePageForm input[type='submit']:active {
  background-color: black;
  color: #368F8B;
}
