.SavePage {
  padding-top: 50px;
  padding-bottom: 30px;
  zindex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SavePage #SavePage__Form {
  display: flex;
  align-items: center;
}
.SavePage #SavePage__Form input[type='text'] {
  border: 3px solid #368f8b;
  height: 30px;
  background-color: #368f8b;
  color: black;
  font-weight: bold;
  font-size: 15px;
}
.SavePage #SavePage__Form input[type='text']:hover {
  background-color: black;
  color: #368f8b;
}
.SavePage #SavePage__Form input[type='text']:focus {
  background-color: black;
  color: #368f8b;
}
.SavePage #SavePage__Form input[type='text']:active {
  background-color: black;
  color: #368f8b;
}
.SavePage #SavePage__Form input[type='submit'] {
  height: 38px;
  background: #368f8b;
  cursor: pointer;
  color: black;
  font-size: 15px;
  font-weight: bold;
  border: 3px solid #368f8b;
}
.SavePage #SavePage__Form input[type='submit']:hover {
  background-color: black;
  color: #368f8b;
}
.SavePage #SavePage__Form input[type='submit']:active {
  background-color: black;
  color: #368f8b;
}
