.SavePageForm {
  margin: 5px;
  padding-bottom: 30px;
  border: 1px solid gray;

  input[type='text'] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type='text']:focus {
    border-color: #333;
  }

  input[type='submit'] {
    padding: 5px 15px;
    background: rgb(155, 155, 155);
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
}
