.SavePageForm {
  margin: 35px;
  padding-bottom: 30px;
  zIndex: 5;

  input[type='text'] {
    padding: 5px;
    border: 2px solid black;
    background-color: #555;
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: Helvetica;
    &:hover {
      background-color: #777;
    }
    &:focus {
      background-color: #777;
    }
    &:active {
      background-color: #777;
    }
  }

  input[type='submit'] {
    padding: 5px 15px;
    background: #555;
    border: 0 none;
    cursor: pointer;
    color: black;
    font-family: Helvetica;
    font-size: 15px;
    border: 2px solid black;
    &:hover {
      background-color: #777;
    }
    &:active {
      background-color: #888;
    }
  }
}
