#Menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 25px 25px;
  align-tems: center;
  width: 100vw;
  background: #612940;
  z-index: 11;
  transition: opacity 500ms;
}
#Menu h1 {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
#Menu #Menu__submit-button {
  margin-right: 50px;
  font-weight: bold;
  border: none;
  font-size: 25px;
  padding: 0 50px 0 0;
  margin: 0;
}
#Menu #Menu__submit-button:hover {
  background: transparent;
  color: #368f8b;
}
.Menu-visible {
  opacity: 1;
}
.Menu-hidden {
  opacity: 0;
}
