/* Landscape phone to portrait tablet */
/* Small tablet - includes media query for tablet-portrait, but cuts out larger sizes */
/* Large tablet  - includes media query for tablet-portrait, but cuts out smaller sizes */
/* Tablet landscape */
/* Large desktop */
#Menu {
  position: fixed;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 25px 25px;
  align-tems: center;
  width: 100%;
  background: #612940;
  z-index: 11;
  transition: top 500ms;
  transition-timing-function: ease-out;
}
@media only screen and (min-width: 360px) and (max-width: 480px) {
  #Menu {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
}
#Menu h1 {
  text-decoration: none;
  padding: 0;
  margin: auto 0;
}
@media only screen and (min-width: 360px) and (max-width: 480px) {
  #Menu h1 {
    font-size: 18px;
    padding: 5px;
  }
}
#Menu #Menu__links {
  display: flex;
  width: auto;
}
@media only screen and (min-width: 360px) and (max-width: 480px) {
  #Menu #Menu__links {
    flex-direction: column;
    margin: 5px;
  }
}
#Menu .Menu__button {
  margin-right: 50px;
  font-weight: bold;
  border: none;
  font-size: 25px;
  padding: 0 50px 0 0;
  margin: 0;
  height: 15px;
}
#Menu .Menu__button:hover {
  background: transparent;
  color: #368f8b;
}
#Menu .Menu__button:active,
#Menu .Menu__button:active {
  border: none;
  outline: none;
}
@media only screen and (min-width: 360px) and (max-width: 480px) {
  #Menu .Menu__button {
    font-size: 13px;
    margin: 2px 5px;
    padding: 0;
  }
}
.Menu-visible {
  top: 0;
}
.Menu-hidden {
  top: -100px;
}
.Menu-peeking {
  top: -60px;
}
