#Settings {
  border: 3px solid #368F8B;
  width: 60%;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  color: #368F8B;
}
#Settings h1 {
  text-decoration: underline;
  margin-bottom: 30px;
}
#Settings h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
#Settings #Settings__ChangePassword {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}
#Settings #Settings__ChangePassword .ChangePassword__label {
  font-weight: bold;
  font-style: italic;
  color: #368F8B;
  margin-bottom: 5px;
}
#Settings #Settings__ChangePassword .ChangePassword__input {
  border: none;
  height: 20px;
  background-color: #368F8B;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border: 4px solid #368F8B;
  margin: 5px 20px 10px 20px;
}
#Settings #Settings__ChangePassword #ChangePassword__submit {
  margin: 10px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  background-color: #368F8B;
  border: none;
  border: 4px solid #368F8B;
}
#Settings #Settings__ChangePassword #ChangePassword__submit:hover {
  background-color: black;
  color: #368F8B;
}
#Settings #Settings__ChangePassword #ChangePassword__error {
  margin-top: 5px;
  color: #612940;
}
#Settings #Settings__ChangePassword #ChangePassword__success {
  margin-top: 5px;
}
#Settings #Settings__back-button {
  border: none;
  overflow: hidden;
  font-weight: bold;
  font-size: 25px;
  background: transparent;
  color: #368F8B;
  cursor: pointer;
  align-self: flex-end;
  outline: none;
  appearance: none;
  transition: color 500ms;
  margin-top: 40px;
}
#Settings #Settings__back-button:hover {
  color: #612940;
  outline: none;
}
#Settings #Settings__back-button:focus {
  border: none;
  outline: none;
}
#Settings #Settings__back-button:active {
  border: none;
  outline: none;
}
