.Page {
  margin: 5px;
  border: 3px solid #368f8b;
  color: #368f8b;
  transition: border 500ms, color 500ms;
  &:hover {
    border: 3px solid #612940;
    color: #612940;
  }

  &:hover button {
    color: #612940;
  }

  button {
    margin-left: auto;
    background: transparent;
    border: none;
    font-weight: bold;
    color: transparent;
    transition: color 500ms;
    &:hover {
      color: #368f8b;
    }
  }

  .Page__header {
    display: flex;
    justify-content: center;
    cursor: pointer;

    h2 {
      font-weight: bold;
      padding: 10px;
      margin: 2px;
      margin-left: auto;
      width: 100%;
    }

    .header-link {
      font-size: 17px;
    }
  }

  .Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 20px;
    cursor: zoom-out;
    img {
      max-height: 100vh;
      padding: 5px 0;
    }
  }
}
