.Page {
  margin: 5px;
  border: 3px solid #368F8B;
  color: #368f8b;
  transition: border 500ms, color 500ms;
}
.Page:hover {
  border: 3px solid #368F8B;
  color: #368F8B;
}
.Page:hover button {
  color: #368F8B;
}
.Page button {
  margin-left: auto;
  background: transparent;
  border: none;
  font-weight: bold;
  color: transparent;
  transition: color 500ms;
}
.Page button:hover {
  color: #612940;
}
.Page .Page__header {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.Page .Page__header h2 {
  font-weight: bold;
  padding: 10px;
  margin: 2px;
  margin-left: auto;
  width: 100%;
  transition: color 500ms;
}
.Page .Page__header h2:hover {
  color: #612940;
}
.Page .Page__header .header-link {
  font-size: 17px;
}
.Page .Posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  min-height: 20px;
  cursor: zoom-out;
}
.Page .Posts img {
  max-height: 100vh;
  padding: 5px 0;
}
