.Page {
  margin: 5px;
  border: 2px solid black;
  background-color: #4b4b4b;
}
.Page .Page__title {
  display: flex;
  justify-content: center;
}
.Page .Page__title h2 {
  color: white;
  padding: 2px;
  margin: 2px;
  margin-left: auto;
  cursor: pointer;
}
.Page .Page__title button {
  margin-left: auto;
}
.Page .Posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  min-height: 20px;
  cursor: pointer;
}
.Page .Posts img {
  max-height: 100vh;
  padding: 5px 0;
}
.Page:hover {
  border: 2px solid gray;
}
