@import '../../colors.less';

#About {
  color: @color-blue;
  border: 3px solid @color-blue;
  margin: 30px;
  height: 400px;
  padding: 0 20px;
  width: 300px;
  min-width: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;

  #About__content {
    padding: 20px;
    text-align: left;

    h3 {
      font-size: 13px;
      font-weight: bold;
      padding-left: 15px;
    }

    ol {
      list-style: decimal;
      li {
        margin: 15px;
        font-size: 13px;
        line-height: 1.3;
      }
    }

    #content__about {
      margin-bottom: 40px;
      padding: 5px;
      line-height: 1.7;
      text-align: justify;
      b {
        font-weight: bold;
        font-size: 18px;
      }
    }

    #content__getting-started {
      margin-bottom: 10px;
    }

    #content__fork-me {
      margin-top: 40px;
      text-align: center;
      a {
        color: @color-blue;
        &:hover {
          color: @color-red;
        }
      }
    }
  }
}
