#About {
  color: purple;
  border: 3px solid purple;
  margin: 30px;
  height: 500px;
  padding: 20px;
  width: 300px;
}
#About h2 {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
#About #About__content {
  margin-top: 30px;
  padding: 20px;
  text-align: left;
}
#About #About__content h3 {
  font-size: 15px;
  font-weight: bold;
  padding-left: 12px;
}
#About #About__content ol {
  list-style: decimal;
}
#About #About__content ol li {
  margin: 10px;
  font-size: 13px;
}
