#About {
  color: purple;
  border: 3px solid purple;
  margin: 30px;
  height: 500px;
  padding: 20px;
  width: 300px;
  // max-width: 400px;

  h2 {
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
  }

  #About__content {
    margin-top: 30px;
    padding: 20px;
    text-align: left;

    h3 {
      font-size: 15px;
      font-weight: bold;
      padding-left: 12px;
    }

    ol {
      list-style: decimal;
      li {
        margin: 10px;
        font-size: 13px;
      }
    }
  }
}
