#Login {
  border: 3px solid #368F8B;
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  color: #368F8B;
}
#Login h2 {
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
}
#Login .textInput {
  border: none;
  height: 13px;
  width: 160px;
  background-color: #368F8B;
  color: black;
  font-size: 13px;
  font-weight: bold;
  padding: 6px;
  border: 4px solid #368F8B;
  margin: 5px;
  transition: background-color 200ms, color 200ms;
}
#Login .textInput:active,
#Login .textInput:focus {
  background-color: #19150c;
  color: #368F8B;
}
#Login .textInputLabel {
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
}
#Login .Login__form {
  margin-top: 20px;
}
#Login .form__password {
  margin-top: 20px;
}
#Login .form__submit {
  padding-bottom: 20px;
  padding-top: 10px;
}
#Login .form__submit input {
  width: 90px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  background-color: #368F8B;
  border: 4px solid #368F8B;
  transition: background-color 200ms, color 200ms;
}
#Login .form__submit input:hover {
  background-color: #19150c;
  color: #368F8B;
}
